.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  overflow: hidden;
}

.header__bars {
  width: 30px;
  height: 30px;
}
