.settings__home {
    padding: var(--header-height);
    height: 100vh;
    width: 100vw;
    overflow: scroll;

}

.settings__home form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.settings__home .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.settings__home .buttons input {
    padding: 10px 0;
    width: 180px;
    border-radius: 6px;
    border: 1px solid var(--text-background-dark);
    background-color: transparent;
    font-weight: bold;
    color: var(--text-color-lighter);
    font-size: 1.2rem;
    cursor: pointer;
}

.settings__home .buttons input.save {
    color: white;
    background-color: var(--text-background-dark);
}

.settings__home .container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    height: auto;
    width: 100%;
    padding: 35px;
    gap: 64px;
}

.settings__home .column {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    width: 100%;
    user-select: none;
}

.settings__home .row {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
}


.settings__home .row .on-off {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}

.settings__home .row .row-container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 32px;
    padding: 10px;
    width: 100%	;
}

.settings__home .column{
    flex-direction: column;
}

.settings__home .row{
    flex-direction: row;
}


.settings__home .row-container .space-evenly{
    justify-content: space-evenly;
}

.settings__home__textarea {
    width: 100%;
    background-color: var(--text-background-lighter);
    border-radius: 10px;
    line-height: 1.5; /* Adjust the line height as needed */
}