.request__bg_question {
  background: var(--question);
}

.request__bg_request {
  background: var(--request);
}

.request__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  border-radius: 12px;
}

.request__icon {
  width: 44px;
  height: 44px;
  fill: white;
}

.request__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.request__info .top {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.request__info .bottom {
  padding: 4px;
  background-color: white;
}
