.nurse__home-requests .processing,
.nurse__home-requests .waiting {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nurse__home-requests .waiting {
  width: 55%;
}

.nurse__home-requests .line {
  background-color: var(--border);
  width: 1px;
  height: calc(100% - 54px);
  margin: 0 16px;
  margin-top: 54px;
}

.nurse__home-requests .processing {
  width: 45%;
}

.nurse__home-requests .waiting h1,
.nurse__home-requests .processing h1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.nurse__home-requests .filters {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nurse__home-requests .requests {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
  overflow: scroll;
}
