.footer{
    position: absolute;
    width: 100vw;
    height: var(--footer-height);
    padding: 16px;
    overflow: hidden;
}

.footer .container{
    display: flex;
    align-items: center;
    flex-direction: row;

    overflow: hidden;
    padding-bottom: 0;

    width: 100%;
}

.footer .info {
    margin-right: 25px;

}