.patient__home {
    padding: var(--header-height) 0 var(--footer-height);

    height: 100vh;
    width: 100vw;
}


.patient__home .container{
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    width: 100%;

    padding: 0 48px 48px;
}

.patient__home .menu{
    padding: 12px 12px 64px;
}

.patient__home .menu h1 {
    font-size: 4rem;
}

.patient__home .icon{
    color: white;
    margin: 15px;
}

.patient__home .rq-container{
    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    height: 100%;
}

.patient__home .rq-container h1{
    text-align: center;
    padding-bottom: 25px;
    font-size: 3rem;
}


.patient__home .question-container {
    padding: 0 64px 64px;
    width: 100%;
    height: 100%;
}

.patient__home .question-container button {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 26px;
    outline: none;
    cursor: pointer;

    background: var(--quesiton);

}

.patient__home .separator{
    border-left: 4px solid rgba(0, 0, 0, 0.6);
    height: 100%;
}

.patient__home .request-container {
    padding: 0 64px 64px;
    width: 100%;
    height: 100%;
}

.patient__home .request-container button {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 26px;
    outline: none;
    cursor: pointer;

    background: var(--request);
}