.patient-history {
  position: absolute;
  top: 0;
  left: 100vw;
  background-color: var(--background-glass);
  backdrop-filter: var(--background-glass-blur);
  height: 100vh;
  width: 40%;
  padding: 45px 40px;
  transition: transform 500ms;
}

.patient-history.active {
  transform: translateX(-100%);
}

.patient-history__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  gap: 32px;
}

.patient-history__title__icon,
.patient-history__title h1 {
  color: white;
  font-weight: 700;
}

.patient-history__button__icon {
  transition: transform 500ms;
}
.patient-history__button__icon.active {
  transform: rotate(180deg);
}

.patient-history__button {
  background-color: var(--text-background-lighter);
  width: 3.5vw;
  height: 7vw;
  border-top-left-radius: 510px;
  border-bottom-left-radius: 510px;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.Processing {
  background: var(--request);
  border-radius: 10px;
}

.Waiting {
  background: var(--quesiton);
  border-radius: 10px;
}


.Finished {
  background: var(--background-grey);
  border-radius: 10px;
  opacity: 80%;
}

/* CHAT STYLING START */

.Processingchat {
  background: var(--request);
  border-radius: 0px 0px 10px 10px;
  border: 5px;
}

.Waitingchat {
  background: var(--quesiton);
}


.Finishedchat {
  background: var(--background-grey);
  opacity: 80%;
}

/* CHAT STYLING END */

.request-item {
  align-items: center;
  border-radius: 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.top-container {
  display: flex;
  padding: 0.5rem;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  max-height: 5rem;
}

.info-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: bottom;
}

.text-container {
  margin-top: 1rem;
  background-color: var(--text-background-response);
  padding: 0.3rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.time {
  text-align: right;
  align-self: flex-end;
}

.chat-container {
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.patient-false {
  background-color: var(--text-background-response);
  border-radius: 10px 10px 10px 0px;
  padding: 0.5rem;
  width: max-content;
  float: left;
  margin-bottom: 0.5rem;
}

.patient-true {
  background-color: var(--text-background-light);
  border-radius: 10px 10px 0px 10px;
  padding: 0.5rem;
  width: max-content;
  float: right;
  margin-bottom: 0.5rem;
}

.chat-time {
  color: var(--text);
  font-family: 'consolas';
  font-size: small;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
